.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 100vh;
}

.title{
  font-size: 55px;
  color: #FF331F;
}

.button{
  background-color: #FD978F;
  font-size: 30px;
  color: white;
  border-radius: 40px;
  padding: 0 48px;
  cursor: pointer;
}

.footnote{
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.navbar{
  color: black;
  font-size: 20px;
  text-decoration: underline;
}

.navbar:hover{
  color: #ffe5e3;
}