@import "tailwindcss";

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    gap: 40px;
}

button{
  background-color: #FD978F;
  font-size: 10px;
  color: white;
  border-radius: 40px;
  padding: 0 12px;
  cursor: pointer;
}