@import "tailwindcss";

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 100vh;
}

button{
  background-color: #FD978F;
  font-size: 30px;
  color: white;
  border-radius: 40px;
  padding: 0 48px;
  cursor: pointer;
}