@import "tailwindcss";

.container3{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  margin-top: 100px;
}

.container4{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 0;
  position: relative;
}

.calendar{
  width: 98px;
  height: 98px;
  background-color: #55AE56;
  border-radius: 20px;
  border: 8px solid #008502;
  color: white;
  font-family: var(--font-poppins);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  line-height: 1.1;
  font-variant-numeric: tabular-nums;
}

.progress-container{
  width: 261px;
  height: 16px;
  background-color: #D1FFD1;
  border-radius: 10px;
}

.write-box{
  width: 265px;
  height: 65px;
  background-color: #93E094;
  border: 8px solid #008502;
  border-radius: 15px;
  padding: 10px;
  outline: none;
}

.pencet-tomat{
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  inset: 0;
  z-index: 5;
  left: 220px;
  top: 43px;
}

.barisan-tomat{
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 10px;
  position: absolute;
  top: 222px;
  left: 128px;
}

.pencetan-tomat{
  width: 40px;
  height: 40px;
  cursor: pointer;
  inset: 0;
  z-index: 5;
}

.day {
  font-size: 40px;
  font-weight: bold;
}

.month {
  font-size: 14px;
}

.year {
  font-size: 14px;
}

.button2{
  margin-top: 20px;
  font-size: 30px;
  color: white;
  border-radius: 40px;
  padding: 0 60px;
  cursor: pointer;
  background-color: #93E094;
}

.base{
  margin-top: 0px;
  width: 370px;
}